* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0.98);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 5px;
    color: #a6adc8;
}

#workspaces button.active {
    color: #cdd6f4;
    background: #313244;
    border-radius: 4px;
}

#workspaces button:hover {
    background: #45475a;
    border-radius: 4px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 3px 0px;
    color: #cdd6f4;
}

#tray {
    border-radius: 4px;
    margin-right: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#clock {
    color: #fab387;
    border-radius: 4px;
}

#battery {
    color: #a6e3a1;
}

#battery.charging {
    color: #94e2d5;
}

#battery.warning:not(.charging) {
    color: #f38ba8;
}

#cpu {
    color: #89b4fa;
}

#memory {
    color: #cba6f7;
}

#network {
    color: #94e2d5;
}

#network.disconnected {
    color: #f38ba8;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.muted {
    color: #f38ba8;
} 